

<div class="container">
    <div class="row">
<div class="col-6 mx-auto my-3 p-3 border">
    <!--registro de nuevo usuario--->
    <h3 class="my-2 pb-4">Registrar personal autorizado a modificar stock</h3>
    <form class="" action="/crearbodeguero" method="post">
      
        <div class="mb-3">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="apellidor" name="apellido" placeholder="Apellido" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico"  required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña" name="password"  placeholder="Contraseña" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="contraseña2" name="password2" placeholder="Confirmar contraseña"  required>
        </div>        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary my-2">Registrar</button>
        </div>
    </form>
</div>
</div>
</div>

