 <link rel="stylesheet" href="css/style.css">
 
 <div class="message">No estas autorizado.
  </div>
  <div class="message2">Contacta con el equipo directivo.

  <a href="mailto: fidonoso@gmail.com">fidonoso@gmail.com</a>
  </div>
  <div class="container d-flex justify-content-center my-5">
    <div class="neon">403</div>
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
      </div>
        <div class="handle">
          </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div> 
        </div>
      </div>  
    </div>
  </div>
  <script>
    document.getElementById('barra_nav').classList.add('d-none')
  </script>